/*-------ARCHIVO INDEX.HTML--------*/

body{
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*HEADER - BOOTSTRAP*/
header nav {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
header nav img{
    width:35px;
}
header nav li a{
    width: 100px;
    margin-left: none;
    margin-top: 0px;
    margin-left: 20px;
    color: #004494;
}
header nav li a:hover{
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}
header nav li img{
    width: 20px;
    height: 20px;
}
.dropdown-menu a{
    width: 300px;
}
.dropdown-menu:hover{
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}
.dropdown-menu a:hover{
    background-color: white;
    color: black;
    box-shadow: 1px 1px 5px  1px rgba(0, 0, 0, 0.1);
}
/*HERO SECTION*/

.mundo{
    padding: 10px;
    text-align: center;
    font-size: 25px;
    /*IMAGEN*/
    height: 820px;
    /*FLEX*/
    display: flex;
    justify-content:center;
    align-items:center;
}
.mundo img{
    border-radius: 200px 0 0 0px;
    width: 500px;
    height: 700px;
}
/*BOTON*/
.titulo-mundo a{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    background-color: #22405b;
    color: rgb(255, 255, 255);
}

.titulo-mundo a:hover{
    background-color: white;
    color: #1f4256;
    background-color: #ffffff;
}
.titulo-mundo h1{
    color:#1f4256 ;
    font-family: "abril-fatface";
    font-weight: 900;
    font-size: 60px;
}
.titulo-mundo h2{
    color:rgb(41, 63, 81);
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "abril-fatface";
}

/*MAIN*/
/*POR QUE ELEGIR LIBRA*/
.imagen{
    width: 50px;
    margin-bottom: 20px;
}
.accordion-button:hover {
    background-color: #b3b3b3; 
}

.accordion-button:focus {
    box-shadow: none;
    background-color: #b3b3b3;
}

.accordion-button:not(.collapsed) {
    background-color: #b3b3b3;
    color: #333;
}

.accordion-button {
    transition:  0.3s ease;
    margin: 0px;
    font-size: 20px;
    padding: 20px;

}

/*------COMO NACIO LIBRA------*/
.nacimiento-libra{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
}
.nacimiento-libra div{
    width: 65%;
}
.nacimiento-libra img{
    width: 390px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition:(0.5s) ;
}
.nacimiento-libra img:hover{
    filter: blur(1px);
}

.nacimiento-libra h3{
    margin-bottom: 20px;
}
.nacimiento-libra p{
    font-size: 20px;
}

/*QUE OFRECE LIBRA*/
    .oferta{
        display: inline-block;
        /*GRID*/
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 300px 300px 300px;
    }
    .oferta h3{
        color: #3d3d3d;
        font-size: 25px;
    }
    .oferta p{
        margin: 25px;
        font-size: 1rem;
    }
    .oferta div{
        text-align: center;
    }
    .oferta img{
        width: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    /*------GRID-------*/
    .targeta{
        background-color: rgb(98, 226, 98);
    }
    .envio{
        background-color: rgb(240, 118, 118);
    }
    .etiqueta{
        background-color: rgb(220, 86, 250);
    }


/*----CATALOGO-----*/
.catalogo{
    text-align: center;
    height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.titulo-catalogo h1{
    font-family: "abril-fatface";
    font-weight: 800;
    font-size: 40px;
    color: #5b7a8f;
}
.titulo-catalogo h2{
    font-family: "abril-fatface";
    color: #224d70;
    margin-bottom: 15px;
}
.titulo-catalogo p{
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 350;
}
.titulo-catalogo a{
    color: #004494;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    box-shadow: 0px 0px 5px 5px #d1d7dc;
}
.titulo-catalogo a:hover{
    background-color: #004494;
    color: white;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.libros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.libros div{
    text-align: center;
    width: 220px;
    height: 450px;
    margin: 25px;
    border-radius: 10px;
}
.libros div:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.libros img{
    width: 170px;
    height: 250px;
    margin: 10px;
}

.libros a{
    text-decoration: none;
    color: white;
    background-color:rgb(58, 86, 165);
    padding: 5px;
    border-radius: 5px;
}
.libros a:hover{
    color: rgb(58, 86, 165) ;
    background-color: white;
}
.libros h3{
    color: #22333b;
    font-size: 20px;
}
.libros h4{
    color: rgb(58, 86, 165);
    margin-top: 10px;
    font-size: 15px;
}
.libros p{
    margin-bottom: 10px;
}


/*------GIFTCARD------*/
.titulo-giftcard{
    height: 840px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.titulo-giftcard img{
    height: 500px;
}
.titulo-principal h1{
    font-family: "abril-fatface";
    font-weight: 800;
    font-size: 40px;
    font-size: 50px;
    color: rgb(155, 25, 255);
}
.titulo-principal h2{font-family: "abril-fatface";
    color: rgb(96, 96, 96);
    font-size: 30px;
}


/*------GRID------*/
.giftcard{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: 300px 300px 300px;
    row-gap: 10px;
    column-gap: 10px;
    color: white;
}
.giftcard div{
    border-radius: 10px;
}
.giftcard div:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.giftcard h3{
    font-size: 25px;
    margin-bottom: 15px;
}
.giftcard h4{
    font-size: 20px;
    margin-bottom: 15px;
}
.giftcard p{
    font-size: 18px;
    margin: 10px;
}
.giftcard a{
    text-decoration: none;
    background-color: white;
    color: rgb(136, 30, 175);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #d1d7dc;
}
.giftcard a:hover{
    background-color: rgb(136, 30, 175);
    color: #ffffff ;
}
.giftcard img{
    width: 100px;
    margin-top: 10px;
}
.gift-1{
    background-color: rgb(178, 24, 255);
}
.gift-2{
    background-color: rgb(189, 57, 255);
}
.gift-3{
    background-color: rgb(197, 81, 255);
}
.gift-4{
    background-color: rgb(211, 123, 255);
}
.gift-5{
    background-color: rgb(213, 130, 255);
}
.gift-6{
    background-color: rgb(224, 162, 255);
    
}

/*-----QUIENES SOMOS------*/
.titulo-review{
    height: 800px;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.titulo-review img{
    width: 600px;
}
.titulo-review-2 h1{
    font-family: "abril-fatface";
    font-weight: 800;
    font-size: 70px;
    color: #22333b;
}
.titulo-review-2 h2{
    font-family: "abril-fatface";
    font-size: 20px;
    color:rgb(35, 42, 94);
}
.review{
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:1px 4px 8px rgba(0, 0, 0, 0.1);
}
.review img{
    width: 70px;
    height: 75px;
    border-radius: 50px;
    margin-right: 20px;
}
.contenido-opinion{
    display: flex;
    margin: 20px;
}
.opinion{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.opinion p{
    color: #777777ae;
}

/*------CONTACTO------*/
.titulo-formulario{
    /*IMAGEN FORMULARIO*/
    height: 840px;
    /*TEXTO*/
    text-align: center;
    color: #5b7a8f;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.titulo-formulario h1{
    font-family: "abril-fatface";
    font-weight: 800;
    font-size: 70px;
}
.titulo-formulario h2{
    font-family: "abril-fatface";
    font-size: 30px;
}
.titulo-formulario p{
    font-family: monospace;
    font-size: 25px;
}
.grupo-de-personas img{
    width: 325px;
}

/*FORMULARIO*/
.formulario{
    border: #000000 solid 1px;
    border-radius: 10px;
    width: 500px;
    padding: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulario div{
    border-radius: 10px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin:30px;
    padding: 10px;
}
.formulario div:hover{
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}
.formulario input{
    margin:10px;
    width: 350px;
    border: gray solid  1px;
    border-radius: 5px;
}
.formulario input:hover{
    border-color: rgba(0, 0, 0, 0.1);
}
.formulario input:focus{
    border-color: #004494;
}
.formulario label{
    margin-left: 10px;
}
.enviar-resetear input{
    width: 150px;
    border: none;
}
.enviar-resetear input:hover{
    background-color: #004494;
    color: white;
}
/*-----FIDEX------*/
.fixed{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.fixed img{
    width: 50px;
}


/*------FOOTER----*/
.footer{
    text-align: center;
    height: 175px;
    /*FLEX*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer img{
    width: 40px;
    margin:10px;
}
.footer p{
    margin-top: 20px;
    color: #7b7b7b;
    margin-bottom: 15px;
}
.footer a{
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-size: 15px;
}
/*CONTACTANOS*/
.contactanos form{
    padding: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*ESTILO*/
    margin-top:20px ;
    margin-bottom: 50px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    width: 500px;
    background-color: #b6b6b658;
}
.contactanos{
    height: 710px;
    display: flex;
}

.contactanos h3{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
}
.contactanos div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}
.contactanos label{
    font-size: 17px;
}
.contactanos input{
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.contactanos input:focus{
    border-color: #22333b;
}
.submit-reset input:hover{
    background-color: #1f4256;
    color: white;
}
.contactanos textarea{
    border-radius: 5px;
    width: 300px;
}
/*----------MEDIA QUERIES--------*/

/*INCIO*/
@media screen and (max-width: 745px){
    header nav ul li a{
        font-size: 15px;
    }
}
@media screen and (max-width: 1125px){
    .mundo img{
        display: none;
    }
}
@media screen and (max-width: 955px){
    .mundo{
        height: 800px;
    }
}
@media screen and (max-width: 395px){
    .titulo-mundo{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media screen and (max-width: 425px){
    .porque p{
        font-size: 12px;
    }
}


/*NACIMIENTO-LIBRA*/
@media screen and (max-width: 1200px){
    .nacimiento-libra img{
        display: none;
    }
    .nacimiento-libra p{
        margin-bottom: 40px;
        font-size: 15px;
    }
    .nacimiento-libra h2{
        margin-top: 30px;
        font-size: 20px;
    }
    .nacimiento-libra h3{
        font-size: 15px;
    }
}


/*TARGETAS*/
@media screen and (max-width: 955px){
    .oferta{
        grid-template-columns: repeat(1, 1fr);
    }
}


/*CATALOGO*/
@media screen and (max-width:1075px){
    .catalogo{
        flex-direction: column-reverse;
    }
    .catalogo img{
        opacity: 0.5;
    }
}
@media screen and (max-width: 515px){
    .catalogo img{
        width: 300px;
    }
}
@media screen and (max-width: 400px){
    .titulo-catalogo h1{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .titulo-catalogo h2{
        font-size: 20px;
    }
}


/*GIFTCARD*/
@media screen and (max-width: 1025px){
    .titulo-giftcard{
        flex-direction: column-reverse;
    }
    .titulo-giftcard img{
        opacity: 0.5;
    }
}
@media screen and (max-width: 580px){
    .titulo-giftcard img{
        width: 300px;
        height: auto;
    }
    .titulo-principal h1{
        font-size:45px;
    }
    .titulo-principal h2{
        margin-top: 10px;
        font-size: 20px;
    }
}
@media screen and (max-width: 880px){
    .giftcard{
        grid-template-columns: repeat(1, 1fr) ;
        height: auto;
        grid-template-rows: 300px 300px 300px 300px 300px 300px;
    }
}


/*OPINIONES DE EXPERTOS*/
@media screen and (max-width: 1110px){
    .titulo-review{
        height: 800px;
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 765px){
    .titulo-review img{
        width: 400px;
        opacity: 0.5;
    }
    .titulo-review-2 h1{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .titulo-review-2 h2{
        font-size: 20px;
    }
}
@media screen and (max-width: 635px){
    .contenido-opinion{
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}
@media screen and (max-width: 565px){
    .review{
        padding: 10px;
        max-width: 400px;
    }
    .opinion{
        margin-bottom: 40px;
        font-size: 15px;
    }
    .opinion h3{
        margin-bottom: 10px;
    }
    .opinion p{
        font-size: 20px;
    }
}
@media screen and (max-width: 415px){
    .opinion p{
        font-size: 15px;
    }
    
}
@media screen and (max-width: 410px){
    .review{
        padding: 10px;
        max-width: 280px;
    }
    .titulo-review img{
        width: 250px;
    }
}


/*----FORMULARIO-----*/
@media screen and (max-width: 970px){
    .img-contacto{
        display: none;
    }
    .titulo-formulario{
        flex-direction: column-reverse;
        
    }
}
@media screen and (max-width: 460px){
    .titulo-formulario h1{
        font-size: 45px;
    }
    .titulo-formulario h2{
        font-size: 20px;
    }
    .titulo-formulario img{
        width: 200px;
    }
}
@media screen and (max-width:510px){
    .formulario{
        width: 300px;
        border: none;
    }
}
@media screen and (max-width:395px){
    .formulario{
        width: 250;
        border: none;
    }
    .formulario input{
        width: 220px;
    }
}


/*FOOTER*/
@media screen and (max-width: 870px){
    .footer{
        flex-direction: column;
    }
    .footer img{
        width: 30px;
    }
}
@media screen and (max-width:525px){
    .contactanos form{
        width: 340px;
    }
}
@media screen and (Max-width:400px){
    .contactanos input{
        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
        width: 200px;
    }
    .contactanos h3{
        margin: 0px;
    }
}