/*-------ARCHIVO INDEX.HTML--------*/

body{
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*HEADER - BOOTSTRAP*/
header{
    position: sticky;
    top: 0;
}
header nav {
    background: rgb(0,0,0);
    background: linear-gradient(18deg, rgba(0,0,0,1) 0%, rgba(114,114,122,1) 86%, rgba(145,160,163,1) 100%);
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  */
}
header nav a img{
    width:40px;
    
    margin-right: none;
}
header nav ul li a{
    width: 100px;
    margin-left: none;
    color: white;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}
header nav ul li a:hover{
    box-shadow: 1px 1px 5px 1px rgba(155, 155, 155, 0.755);
    background-color: rgb(88, 88, 88);
}
.nav-link{
    color: white;
}
.nav-link .active{
    color: white;
}

/*HERO SECTION*/

.mundo{
    padding: 10px;
    text-align: center;
    font-size: 25px;
    /*IMAGEN*/
    height: 830px;
    /*FLEX*/
    display: flex;
    justify-content:center;
    align-items:center;
    /*IMAGEN*/
    background-image: url("../img/fondo-mundo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.mundo img{
    border-radius: 200px 0 0 0px;
    width: 500px;
    height: 700px;
}
.mundo h1{
    color:rgb(213, 213, 213) ;
    font-family: "abril-fatface";
    font-weight: 900;
    font-size: 60px;
}
.mundo h2{
    color:rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "abril-fatface";
}
.mundo a{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    transition: 1s;
}
.mundo a:hover{
    background-color: white;
    color: #000000;
}

/*MAIN*/
/*POR QUE ELEGIR LIBRA*/
.imagen{
    width: 50px;
    margin-bottom: 20px;
}
.accordion-button:hover {
    background-color: #b3b3b3;
    transition: 1s; 
}

.accordion-button:focus {
    box-shadow: none;
    background-color: #b3b3b3;
}

.accordion-button:not(.collapsed) {
    background-color: #b3b3b3;
    color: #333;
}

.accordion-button {
    transition:  0.3s ease;
    margin: 0px;
    font-size: 20px;
    padding: 20px;

}

/*------COMO NACIO LIBRA------*/
.nacimiento-libra{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
}
.nacimiento-libra div{
    width: 65%;
}
.nacimiento-libra img{
    width: 390px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 1s;
    border-radius: 5px;
}
.nacimiento-libra img:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 5px 2px rgb(255, 255, 255)
}
.nacimiento-libra h3{
    margin-bottom: 20px;
}
.nacimiento-libra p{
    font-size: 20px;
}

/*QUE OFRECE LIBRA*/
    .oferta{
        display: inline-block;
        /*GRID*/
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 300px 300px 300px;
        column-gap: 10px;
        row-gap: 20px;
        font-weight: 700;
    }
    .oferta h3{
        color: #2b2b2b;
        font-size: 30px;
        font-weight: 700;
    }
    .oferta p{
        margin: 25px;
        font-size: 1rem;
    }
    .oferta div{
        text-align: center;
        border-radius: 10px;
        transition: 1s;
        transition-delay: 0.2s;
    }
    .oferta div:hover{
        transform: translateY(-10px);
    }
    .oferta img{
        width: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    /*------GRID-------*/
    .targeta{
        background-color: rgb(152, 152, 152);
    }
    .envio{
        background-color: rgb(121, 121, 121);
    }
    .etiqueta{
        background-color: rgb(207, 207, 207);
    }


/*----CATALOGO-----*/
.catalogo{
    text-align: center;
    height: 830px;
    display: flex;
    justify-content: center;
    align-items:center;
    /*IMAGEN*/
    background-image: url("../img/fondo-catalogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.titulo-catalogo h1{
    font-family: "abril-fatface";
    font-weight: 800;
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 15px;
    background-color: black;
    transition: 1s;
}
.titulo-catalogo h1:hover{
    background-color: white;
    color: black;
}
.titulo-catalogo a{
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    box-shadow: 0px 0px 5px 5px #d1d7dc;
    transition:1s;
}
.titulo-catalogo a:hover{
    transform: translateY(-10px);
    background-color: #464646;
    color: white;
    border-radius: 5px;
}
.catalogo img{
    border-radius: 20px 0px 20px;
}

.libros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.libros div{
    text-align: center;
    width: 220px;
    height: 450px;
    margin: 25px;
    border-radius: 10px;
    overflow: hidden;
    transition: 1s;
}
.libros div:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.libros img{
    width: 170px;
    height: 250px;
    margin: 10px;
    border-radius: 10px;
    transition: 1s;
}
.libros img:hover{
    transform: scale(1.05);
}

.libros a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color:rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    transition: 1s;
}
.libros a:hover{
    color: rgb(191, 105, 0) ;
    background-color: white;
    transform: translateY(-15px);
}
.libros h3{
    color: #22333b;
    font-size: 20px;
}
.libros h4{
    color: rgb(73, 73, 73);
    font-weight: bold;
    margin-top: 10px;
    font-size: 15px;
    transition: 1s;
}
.libros h4:hover{
    transform: scale(1.1);
}
.libros p{
    margin-bottom: 10px;
}


/*------GIFTCARD------*/
.titulo-giftcard{
    height: 840px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    /*IMAGEN*/
    background-image: url("../img/fondo-giftcard.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.titulo-principal h1{
    font-family: "abril-fatface";
    font-weight: bold;
    font-size: 60px;
    color: white;
    transition: 1s;
}
.titulo-principal h1:hover{
    transform: translateY(-15px);
}
.titulo-principal h2{
    font-family: "abril-fatface";
    padding: 10px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-size: 30px;
}


/*------GRID------*/
.giftcard{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: 320px 320px 320px;
    row-gap: 5px;
    column-gap: 10px;
    color: white;
}
.giftcard div{
    margin-top: 20px;
    border-radius: 10px;
    transition: 1.5s;
}
.giftcard div:hover{
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}
.giftcard h3{
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    color: black;
}
.giftcard h4{
    font-size: 15px;
    color: black;
    margin-left: 10px;
}
.giftcard p{
    font-size: 12px;
    margin-left: 10px;
    color: black;
}
.giftcard a{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    transition: 1s;
    margin-left:10px;
    box-shadow: 1px 1px 5px 1px rgb(47, 47, 47);
}
.giftcard a:hover{
    background-color: rgb(87, 87, 87);
    color:white ;
    border-radius: 10px 0px 10px;
}
.giftcard img{
    width: 150px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    transition: 1s;
    border-radius: 5px;
}
.giftcard img:hover{
    transform: scale(1.05);
}


/*-----QUIENES SOMOS------*/
.titulo-review{
    height: 830px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /*IMAGEN*/
    background-image: url("../img/fondo-reviews.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.titulo-review-2 h1{
    font-family: "abril-fatface";
    font-weight: 800;
    font-size: 70px;
    padding: 15px;
    color: #ffffff;
    transition: 1s;
}
.titulo-review-2 h1:hover{
    color: black;
}
.titulo-review-2 h2{
    font-family: "abril-fatface";
    font-size: 20px;
    color:rgb(0, 0, 0);
    transition: 1s;
}
.titulo-review-2 h2:hover{
    color: white;
}
.review{
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:1px 4px 8px rgba(0, 0, 0, 0.1);
    transition: 2s;
}
.review:hover{
    transform: scale(1.04);
}
.contenido-opinion img{
    width: 70px;
    height: 75px;
    border-radius: 50px;
    margin-right: 20px;
}
.contenido-opinion{
    display: flex;
    margin: 20px;
    transition: 1s;
    border-radius:15px ;
    padding: 10px;
}
.contenido-opinion:hover{
    transform: translateY(-10px);
    background-color: #000000;
}
.opinion{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.opinion h3{
    color: #616161;
    transition: 1s;
}
.opinion h3:hover{
    color: white;
}
.opinion p{
    color: #777777ae;
}

/*------CONTACTO------*/
.titulo-formulario{
    /*IMAGEN FORMULARIO*/
    background-image: url("../img/fondo-contacto.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 830px;
    margin-bottom: 10px;
    /*TEXTO*/
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.titulo-formulario h1{
    font-family: "abril-fatface";
    font-weight: 800;
    font-size: 70px;
    color: white;
    transition:1.5s ;
}
.titulo-formulario h1:hover{
    transform: scale(1.2);
}
    
.titulo-formulario h2{
    font-family: "abril-fatface";
    font-size: 30px;
    color: white;
}

/*FORMULARIO*/
.formulario{
    border: #222c5b solid 1px;
    border-radius: 10px;
    width: 500px;
    padding: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulario div{
    border-radius: 10px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin:30px;
    padding: 10px;
    transition: 1s;
}
.formulario div:hover{
    box-shadow: 1px 1px 5px 1px rgb(156, 156, 156);
    transform: translateY(-10px);
    background-color: rgb(137, 137, 137);
}

.formulario input{
    margin:10px;
    width: 350px;
    border: 1px;
    border-radius: 5px;
    border-color:rgb(120, 120, 120) ;
    transition: 1s;
}
.formulario input:hover{
    padding: 7px;
}
.formulario label{
    margin-left: 10px;
    transition: 1s;
}
.formulario label:hover{
    color: white;
}
.enviar-resetear input{
    width: 150px;
    border: none;
    transition: 1s;
}
.enviar-resetear input:hover{
    background-color: #004494;
    color: white;
    border-radius: 10px 0px 10px;
}
/*CONTACTANOS*/
.contactanos{
    border: #000000 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 760px;
    border-radius: 10px;
    width: 490px;
    margin: auto;
    margin-top:30px ;
}
.contactanos h3{
    color: #000000;
    font-size: 30px;
}
.contactanos div{
    display: flex;
    justify-content: center;
    margin: 25px;
    padding: 12px;
    border-radius: 10px;
    transition: 1s;
}
.contactanos div:hover{
    box-shadow: 1px 1px 5px 1px rgb(208, 208, 208);
    transform: scale(1.05);
}
.contactanos label{
    font-size: 20px;
    color:#000000;
    margin: 10px;
}
.contactanos input{
    width: 280px;
    margin: 5px;
    padding: 3px;
    border: solid 1px black;
    border-radius: 10px;
    transition: 1s;
}
.contactanos input:hover{
    border-radius: 0px 10px 0px 10px;
}

.contactanos textarea{
    width: 350px;
    border: none;
    border-radius: 10px;
}
.submit-reset input{
    width: 175px;
    margin: 10px;
    transition: 1s;
    color: rgb(0, 0, 0);
}
.submit-reset input:hover{
    background-color: #004494;
    border: white 1px solid;
    transform: translateY(-10px);
    border-radius: 0px 10px 0px 10px;
    color: white;
}
/*------FOOTER----*/
.footer{
    text-align: center;
    height: 175px;
    /*FLEX*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer img{
    width: 40px;
    margin:40px;
    margin: 10px;
    transition: 1s;
}
.footer img:hover{
    transform: translateY(-15px);
}

.footer p{
    margin-top: 20px;
    color: #7b7b7b;
    margin-bottom: 15px;
}

/*----------MEDIA QUERIES--------*/

/*INCIO*/
@media screen and (max-width: 745px){
    header nav ul li a{
        font-size: 15px;
    }
}
@media screen and (max-width: 955px){
    .mundo{
        height: 800px;
    }
}
@media screen and (max-width:620px){
    .mundo div h1{
        font-size: 15px;
    }
}
@media screen and (max-width:460px){
    .mundo div a{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 395px){
    .mundo{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/*NACIMIENTO-LIBRA*/
@media screen and (max-width: 1200px){
    .nacimiento-libra div p{
        margin-bottom: 40px;
        font-size: 15px;
    }
    .nacimiento-libra div h2{
        margin-top: 30px;
        font-size: 20px;
    }
    .nacimiento-libra div h3{
        font-size: 15px;
    }
}
@media screen and (max-width:500px){
    .nacimiento-libra img{
        display: none;
    }
}


/*TARGETAS*/
@media screen and (max-width: 955px){
    .oferta{
        grid-template-columns: repeat(1, 1fr);
        margin: 10px;
    }
}


/*CATALOGO*/
@media screen and (max-width:510px){
    .catalogo .titulo-catalogo h1{
        font-size: 30px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 400px){
    .catalogo .titulo-catalogo h1{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .catalogo .titulo-catalogo h2{
        font-size: 20px;
    }
}


/*GIFTCARD*/
@media screen and (max-width: 580px){
    .titulo-giftcard .titulo-principal h1{
        font-size:45px;
    }
    .titulo-giftcard .titulo-principal h2{
        margin-top: 10px;
        font-size: 20px;
    }
}
@media screen and (max-width:1150px){
    .giftcard{
            grid-template-columns: repeat(2, 1fr) ;
            height: auto;
            grid-template-rows: 300px 300px 300px;
            margin: 10px;
    }
}
@media screen and (max-width: 800px){
    .giftcard{
        grid-template-columns: repeat(1, 1fr) ;
        height: auto;
        grid-template-rows: 300px 300px 300px 300px 300px 300px;
        margin: 10px;
    }
}


/*OPINIONES DE EXPERTOS*/
@media screen and (max-width: 1110px){
    .titulo-review{
        height: 800px;
    }
}
@media screen and (max-width: 765px){
    .titulo-review .titulo-review-2 h1{
        font-size: 32px;
        margin-bottom: 10px;
    }
    .titulo-review .titulo-review-2 h2{
        font-size: 20px;
    }
}
@media screen and (max-width: 410px){
    .review{
        padding: 10px;
        max-width: 280px;
    }
}
@media screen and (max-width: 635px){
    .review .contenido-opinion{
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}
@media screen and (max-width: 565px){
    .review{
        padding: 10px;
        max-width: 400px;
    }
    .review .contenido-opinion .opinion{
        margin-bottom: 40px;
        font-size: 15px;
    }
    .review .contenido-opinion .opinion h3{
        margin-bottom: 10px;
    }
    .review .contenido-opinion .opinion p{
        font-size: 20px;
    }
}
@media screen and (max-width: 415px){
    .review .contenido-opinion .opinion p{
        font-size: 15px;
    }
    
}


/*----FORMULARIO-----*/
@media screen and (max-width: 970px){
    .titulo-formulario{
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 460px){
    .titulo-formulario div h1{
        font-size: 40px;
    }
    .titulo-formulario div h2{
        font-size: 20px;
    }
}
@media screen and (max-width: 505px){
    .formulario{
    border: #222c5b solid 1px;
    border-radius: 10px;
    width: 300px;
    }
    .formulario div input{
        width: 250px;
    }
    .formulario .enviar-resetear input{
        width: 200px;
        border: none;
    }
}
/*CONTACTANOS*/
@media screen and (max-width: 475px){
    footer .contactanos{
    width: 300px;
    }
    footer .contactanos div input{
        width: 145px;
    }
    footer .contactanos div textarea{
        width: 145px;
    }
    footer .contactanos div label{
        font-size: 15px
    }
}

/*FOOTER*/
@media screen and (max-width: 870px){
    .footer{
        flex-direction: column;
    }
    .footer img{
        width: 20px;
    }
}