/*HEADER DE TODAS LAS SECCIONES*/
header{
    position: sticky;
    top: 0;
    nav{
        background: $color-2;
        background: linear-gradient(18deg, rgba(0,0,0,1) 0%, rgba(114,114,122,1) 86%, rgba(145,160,163,1) 100%);
        div{
            a{
                img{
                    width:40px;
                    margin-right: none;
                }
            }
        }
        div{
            ul{
                li{
                    a{
                        width: 100px;
                        margin-left: 10px;
                        color: $color-1;
                        border-radius: 15px;
                        text-align: center;
                        font-size: 15px;
                        &:hover{
                            box-shadow: 1px 1px 5px 1px rgba(155, 155, 155, 0.755);
                            background-color: $color-1;
                        }
                    }
                }
            }
            .dropdown-menu{
                &:hover{
                    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
                }
                a{
                    width: 300px;
                    &:hover{
                        background-color: $color-1;
                        color: $color-2;
                        box-shadow: 1px 1px 5px  1px rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }
}